@charset "UTF-8";
body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;
  /* outline: solid 2px tomato; */
}
@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding: 60px 0;
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.logo {
  display: inline-block;
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 16px 0;
}

.logo-footer {
  display: inline-block;
  color: #2196f3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo--black {
  color: #000000;
}

/* page-footer__logo--white */
.logo--white {
  color: #ffffff;
}

header {
  background: #ffffff;
  border-bottom: solid 1px #ececec;
}

@media screen and (min-width: 768px) {
  .page-header {
    display: flex;
    align-items: center;
  }
}

.page-header__bookmarks,
.page-header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header__bookmarks {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header__bookmarks {
    display: flex;
    margin-left: 93px;
  }
}

.page-header__link {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header__link {
    position: relative;
    display: block;
    padding-top: 31px;
    padding-bottom: 31px;
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.page-header__link:hover,
.page-header__link:focus {
  color: #2196f3;
}

.page-header__link--current::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  background-color: #2196f3;
  color: #2196f3;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  opacity: 1;
}

.page-header__link--current {
  color: #2196f3;
}

.page-header__bookmarks .page-header__item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (min-width: 1200px) {
  .page-header__connection .page-header__item:not(:last-child) {
    margin-right: 50px;
  }
}

.page-header__connection {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header__connection {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__connection {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    color: #757575;
  }
}

.page-header__contact {
  margin-top: 10px;
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .page-header__contact {
    display: inline-block;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__contact {
    padding-top: 31px;
    padding-bottom: 31px;
    font-size: 14px;
    line-height: 1.14;
  }
}

.page-header__contact:hover,
.page-header__contact:focus {
  color: #2196f3;
}

.page-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

.button {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 0;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 23px;
}

.button--margins {
  margin: auto;
}

/* Герой */
.hero-section {
  max-width: 768px;
  height: 400px;
  align-items: center;
  background-color: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 118px 0;
}
@media screen and (min-width: 768px) {
  .hero-section {
    max-width: 1200px;
    height: 400px;
    padding: 200px 0;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    max-width: 1600px;
    height: 600px;
  }
}
.hero-section__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero-section__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* Переваги */
.benefits-section {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .benefits-section {
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .benefits-section__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.benefits-section__item {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits-section__item {
    width: 354px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-section__item {
    width: 270px;
    margin: 15px;
  }
}
.benefits-section__thumb {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.benefits-section__icon {
  width: 70px;
  height: 70px;
}
.benefits-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .benefits-section__title {
    text-align: left;
  }
}
.benefits-section__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* Чим ми займаємось */
@media screen and (max-width: 1199px) {
  .hide-doing {
    display: none;
  }
}

h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.doing {
  display: flex;
}

.doing__item:not(:last-child) {
  margin-right: 30px;
}

.doing__thumb {
  position: relative;
  display: flex;
  align-items: center;
}

.doing__sign {
  position: absolute;
  bottom: 0;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Наша команда */
.team-section {
  background-color: #f5f4fa;
}
@media screen and (min-width: 768px) {
  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.team-section__item {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-section__item {
    width: 354px;
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-section__item {
    width: 270px;
    margin: 15px;
  }
}
.team-section__photo {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .team-section__photo {
    width: 270px;
  }
}
.team-section__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.team-section__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}
.team-section__signature {
  padding: 30px 32px;
}

.team-social {
  display: flex;
  width: 206px;
  height: 44px;
  margin: 0 auto;
}
.team-social__item:not(:last-child) {
  margin-right: 10px;
}
.team-social__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  fill: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social__link:hover, .team-social__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
.team-social__icon {
  width: 20px;
  height: 20px;
}

/* Постійні клієнти */
.clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.clients__item {
  margin: 15px;
}
.clients__link {
  display: inline-block;
  display: flex;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: #afb1b8 solid 1px;
  border-radius: 4px;
  padding: 16px 32px;
  color: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}
.clients__link:hover, .clients__link:focus {
  border: #2196f3 solid 1px;
  color: #2196f3;
  fill: #2196f3;
}
.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Футер */
.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .page-footer {
    display: flex;
    justify-content: center;
  }
}
.page-footer__container {
  text-align: center;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .page-footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__container {
    justify-content: space-between;
    text-align: start;
    max-width: 1200px;
  }
}

.footer-thumb {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-thumb {
    margin-right: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-thumb {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0px;
  }
}

.footer-contacts {
  margin-top: 28px;
}
.footer-contacts__address {
  color: #ffffff;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__address:hover, .footer-contacts__address:focus {
  color: #2196f3;
}
.footer-contacts__connection {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts__connection:hover, .footer-contacts__connection:focus {
  color: #2196f3;
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.social-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
.social-footer__item:not(:last-child) {
  margin-right: 10px;
}
.social-footer__link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-footer__link:hover, .social-footer__link:focus {
  background-color: #2196f3;
}
.social-footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.join-in {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .join-in {
    text-align: left;
    margin-right: 94px;
  }
}

.join-in__title,
.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 12px;
  margin-bottom: 20px;
}

.subscribe {
  text-align: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .subscribe {
    width: 570px;
    text-align: left;
    margin-left: auto;
  }
}
.subscribe__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .subscribe__form {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
.subscribe__input {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  outline: none;
  padding-left: 16px;
  padding-right: 16px;
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
    margin-bottom: 0;
    display: inline-block;
    width: 358px;
  }
}

.button__icon {
  margin-left: 10px;
  justify-content: center;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 450px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__close {
  position: absolute;
  display: block;
  padding: 0;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close:hover {
  color: #2196f3;
  cursor: pointer;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal__field {
  display: block;
  position: relative;
}

.modal__label {
  position: absolute;
  top: -18px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-bottom: 28px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal__input {
    width: 448px;
  }
}
.modal__input:focus + .modal__icon {
  fill: #2196f3;
}
.modal__input:focus {
  border: 1px solid #2196f3;
}

.modal__textarea {
  resize: none;
  width: 370px;
  height: 120px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal__textarea {
    width: 448px;
  }
}
.modal__textarea:focus {
  border: 1px solid #2196f3;
}

.modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy {
  display: inline-block;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .policy {
    font-size: 14px;
    line-height: 1.71;
    margin-left: 11px;
    margin-right: 11px;
  }
}

.policy__link {
  display: inline-block;
  color: #2196f3;
  text-decoration: underline;
  margin-left: 4px;
}

.policy__input {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.policy__input:checked + .policy__icon {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.policy__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: #212121 2px solid;
  border-radius: 2px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Кнопки портфоліо */
.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 80%;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    justify-content: center;
    margin-bottom: 50px;
  }
}
.filter__item {
  margin-bottom: 15px;
}
.filter__item:not(:last-child) {
  margin-right: 8px;
}
.filter__button {
  color: #212121;
  background-color: #f5f4fa;
  cursor: pointer;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Картки портфоліо */
@media screen and (min-width: 768px) {
  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.card {
  width: 100%;
  height: 404px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:last-child {
  margin-bottom: 0px;
}
@media screen and (min-width: 768px) {
  .card {
    width: 354px;
    margin: 15px;
    height: 440px;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: 370px;
    margin: 15px;
    height: 404px;
  }
}
.card:hover, .card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card:hover .card__overlay, .card:focus .card__overlay {
  transform: translateY(-294px);
}

.card__thumb {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.card__overlay {
  position: absolute;
  top: 294px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card__comment {
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.card__sign {
  padding: 20px 24px;
}

.card__tittle {
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card__text {
  width: 322px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.menu-button:hover {
  fill: #2196f3;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button.js-menu-container .icon-cross {
  display: none;
}

.menu-button.js-menu-container .icon-menu {
  display: block;
}

.menu-button.js-menu-container.is-open .icon-menu {
  display: none;
}

.menu-button.js-menu-container.is-open .icon-cross {
  display: block;
}

.menu-button.is-open {
  transform: translateX(0);
}

.js-menu-container {
  padding: 48px 40px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 777;
  background-color: #ffffff;
}
.js-menu-container.is-open {
  display: block;
}

.menu-nav__bookmark {
  margin-bottom: 32px;
}
.menu-nav__bookmark:last-child {
  margin-bottom: 306px;
}
.menu-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.75;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}
.menu-nav__link:hover {
  color: #2196f3;
}

.menu-contact__item {
  margin-bottom: 32px;
}
.menu-contact__item:last-child {
  margin-bottom: 64px;
}
.menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.menu-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}

.menu-social {
  display: flex;
}
.menu-social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}
.menu-social__item:last-child {
  border: none;
}
.menu-social__link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}/*# sourceMappingURL=main.css.map */