/* Переваги */
.benefits-section {
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {padding-bottom: 0;}

&__list { 
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;}}

&__item {
    width: 100%;
    margin-bottom: 30px;
   

        @media screen and (min-width: 768px) {
            width: 354px; 
            margin: 15px;       }
        @media screen and (min-width: 1200px) {
            width: 270px;  
            margin: 15px;      }}

&__thumb {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: $bg-secondary-color;}

&__icon {
    width: 70px;
    height: 70px;}

&__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;

@media screen and (min-width: 798px) {
        text-align: left;}}

&__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);}}
    





