/* Чим ми займаємось */
.hide-doing {
    @media screen and (max-width: 1199px) {
        display: none;}
}

h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;    
    text-align: center;    
    letter-spacing: 0.03em;


    @media screen and (min-width: 1200px){
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;}
}

.doing {
    display: flex;
}

.doing__item {&:not(:last-child) {
    margin-right: 30px;}
}

.doing__thumb {
    position: relative;
    display: flex;
    align-items: center;
}

.doing__sign {
    position: absolute;
    bottom: 0;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-primary-color-transperent;
    width: 100%;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
}