/* Футер */ 
.page-footer {
    background-color: $bg-primary-color;
    padding-top: 60px;
    padding-bottom: 60px;
        
@media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
}
}

.container--flex {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        padding-left: 75px;
        padding-right: 90px;}

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: left;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        width: 507px;
    }
    
}

.footer-thumb {
    text-align: center;
    margin-bottom: 60px;
    @media screen and (min-width: 1200px) {text-align: left;
    margin-bottom: 0px;}
}

.footer-contacts {
    margin-top: 28px;
    

&__address {
    color: $logo-white;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;}}


&__connection {
    color: $text-color-in-footer;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: $accent-color;}}


&__item {&:not(:last-child) {
    margin-bottom: 9px;}}

&__list {
    // width: 231px;
}

}


.social-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;

&__item {&:not(:last-child) {
    margin-right: 10px;} }

&__link {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $footer-social-icon-bg;
    padding: 12px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: $accent-color;}}


&__icon {
    width: 20px;
    height: 20px;
    fill: $white-color;}

}


.join-in {
    text-align: center;
    @media screen and (min-width: 1200px) {
            text-align: left; 
            margin-left: 70px;
        }
    
}

.join-in__title,
.subscribe__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $logo-white;
    margin-top: 12px;
    margin-bottom: 20px;
}


.subscribe {
    text-align: center;
    justify-content: center;
    
    @media screen and (min-width: 1200px) {
            width: 570px;
                text-align: left;
                    margin-left: 94px;
        }
    

&__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
        }}


&__input {
    width: 450px;
        height: 50px;
        display: block;
            margin-bottom: 20px;
    background-color: $bg-primary-color;
    color: $text-color-in-footer;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (min-width: 1200px) {
        margin-right: 12px;
    margin-bottom: 0;    
    padding: 15px;
        display: inline-block;
        width: 358px;
    }}


}





.button__icon {
    margin-left: 10px;
    justify-content: center;
}


