/* Герой */
.hero-section {

        max-width: 768px;
            height: 400px;
         align-items: center;
        background-color: $bg-primary-color;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/heroimage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       
        margin: 0 auto;
        padding: 118px 0;
    
        @media screen and (min-width: 768px) {
                max-width: 1200px;
                height: 400px;
                padding: 200px 0;
            }
        @media screen and (min-width: 1200px) {
        max-width: 1600px;
            height: 600px;
              }
&__title {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
    
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin-bottom: 30px;    
        color: $white-color;

    @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;}} 
    }

