.logo {
    display: inline-block;
    color: $accent-color;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    
@media screen and (max-width: 767px) {
        margin: 16px 0;
    }
    
}

.logo--black {
    color: $logo-black;
}

/* page-footer__logo--white */
.logo--white {
    color: $logo-white;
}