.menu-button {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;

    &:hover {
            fill: $accent-color;
        }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-button.js-menu-container .icon-cross {
    display: none;
}

.menu-button.js-menu-container .icon-menu {
    display: block;
}

.menu-button.js-menu-container.is-open .icon-menu {
    display: none;
}

.menu-button.js-menu-container.is-open .icon-cross {
    display: block;
}

.menu-button.is-open {
    transform: translateX(0);
}

// Бургер контент

.js-menu-container {
    padding: 48px 40px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;
    z-index: 777;

    background-color: $white-color;

    &.is-open {
        display: block;
    }
    }
.menu-nav {

    &__bookmark {
    margin-bottom: 32px;

    &:last-child {
       margin-bottom: 306px;
   }
}   

    &__link {
font-weight: 500;
    font-size: 40px;
    line-height: 1,75;
    letter-spacing: 0.02em;
            text-decoration: none;
            color: $primary-text-color;

            &:hover {
            color: $accent-color;
            }
                     
}
}


.menu-contact {

    &__item {
       margin-bottom: 32px;
        &:last-child {
                margin-bottom: 64px;
            }
    }
    &__mail {
        font-weight: 500;
            font-size: 24px;
            line-height: 1,16;
            letter-spacing: 0.02em;
 color: $secondary-text-color;
    text-decoration: none;
    }

    &__tel {
        font-weight: 500;
            font-size: 34px;
            line-height: 1,17;
            letter-spacing: 0.02em;
color: $accent-color;
    text-decoration: none;
    }
}

.menu-social {
display: flex;

&__item {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        padding-right: 10px;
        margin-right: 10px;

        &:last-child {
            border: none;
        }
    }

&__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1,22;
    letter-spacing: 0.02em;
    color: $accent-color;
        text-decoration: none;
    
}
}


