header {
    // position: relative;
    background: $white-color;
    border-bottom: solid 1px $border-color;
}
.page-header {
    
    @media screen and (min-width: 768px) {
        display: flex;
    align-items: center;
    }

}

.page-header__bookmarks,
.page-header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

.page-header__bookmarks {
    display: none;
    
    
        @media screen and (min-width: 768px) {
            display: flex;
    margin-left: 93px;
}}

.page-header__link {
    display: none;
    
    
        @media screen and (min-width: 768px) {position: relative;
    display: block;
    padding-top: 31px;
    padding-bottom: 31px;
    color: $primary-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}}

.page-header__link:hover,
.page-header__link:focus {
    color: $accent-color;
}

.page-header__link--current::after {
    position: absolute;
    bottom: 0;
    content: '';
    display: block;
    background-color: $accent-color;
    color: $accent-color;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    opacity: 1;
}

.page-header__link--current {
    color: $accent-color;
}

.page-header__bookmarks .page-header__item:not(:last-child) {
    margin-right: 50px;
}

.page-header__connection .page-header__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }  
}

.page-header__connection {
    display: none;
    
    
    @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            color: $secondary-text-color;}

        @media screen and (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            margin-left: auto;
            color: $secondary-text-color;}
}

.page-header__contact {
    margin-top: 10px;
    color: $secondary-text-color;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
        display: inline-block;
        display: flex;
        align-items: center;
        }

    @media screen and (min-width: 1200px) {
        padding-top: 31px;
        padding-bottom: 31px;
        font-size: 14px;
        line-height: 1.14;}
}

.page-header__contact:hover,
.page-header__contact:focus {
    color: $accent-color;
}

.page-header__icon {
    margin-right: 10px;
    fill: currentColor;
}
