/* Наша команда */
.team-section {
    background-color: $bg-secondary-color;

&__list {
        @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;}}

&__item {
    display: block;
    width: 450px;
    margin-bottom: 30px;

    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
        @media screen and (min-width: 768px) {
                width: 354px;
                margin: 15px;
            }
        
            @media screen and (min-width: 1200px) {
                width: 270px;
                margin: 15px;
            }
        }

&__photo {
   width: 100%;
    @media screen and (min-width: 1200px) {
    width: 270px;} 
}

&__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

&__text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    margin-bottom: 16px;}

&__signature {
    padding: 30px 32px;}
}

// Соцмережі команди
.team-social {
    display: flex;
    width: 206px;
    height: 44px;
    margin: 0 auto;

&__item {&:not(:last-child) {
    margin-right: 10px;}}

&__link {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    fill: $client-logo-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
        background-color: $accent-color;
        fill: $white-color;}}

&__icon {
    width: 20px;
    height: 20px;}
}







