body {
    font-family: Roboto, sans-serif;
    color: $primary-text-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;    
    list-style: none;

}



img {
    display: block;
    max-width: 100%;
    height: auto;
}
li {
    list-style-type: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    /* outline: solid 2px tomato; */
}
.section {
    padding: 94px 0;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}