  $primary-text-color: #212121;
  $secondary-text-color: #757575;
  $accent-color: #2196f3;
  $accent-color-card: rgba(33, 150, 243, 0.9);
  $logo-black: #000000;
  $logo-white: #ffffff;
  $stroke-color: #eeeeee;
  $text-color-in-footer: rgba(255, 255, 255, 0.6);
  $bg-primary-color: #2f303a;
  $bg-primary-color-transperent: rgba(47, 48, 58, 0.8);
  $white-color: #ffffff;
  $bg-secondary-color: #f5f4fa;
  $border-color: #ececec;
  $client-logo-color: #afb1b8;

  $hero-transperent-color: rgba(47, 48, 58, 0.4);
  $footer-social-icon-bg: rgba(255, 255, 255, 0.1);
  $backdrop-bg: rgba(0, 0, 0, 0.2);
